<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.CommentMapper">


    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
         FROM comment
      WHERE source = #{source} AND type = #{type}
    </select>
    <select id="selectCommentList" resultType="com.entity.Comment">
        SELECT *
        FROM comment
        WHERE
        <if test="source != null and source != ''">
            AND source = #{source}
        </if>
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        <if test="firstComment != null and firstComment != ''">
            AND parent_user_id = #{firstComment}
        </if>
        ORDER BY create_time ASC
    </select>


</mapper>
