<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.CommentMapper">


    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
         FROM comment
      WHERE source = #{source} AND type = #{type}
    </select>
    <select id="selectCommentList" resultType="com.entity.Comment">
        SELECT *
        FROM comment
        WHERE
    </select>

</mapper>
